.listWrapper {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-inline: 25%;
  background-color: white;
  box-shadow: 0px 0px 8px #888888;
  border-radius: 1rem;
  margin-block: 2rem;

  ul {
    padding: 0;
    li {
      margin-block: 5px;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;

      .boxWrapper {
        display: flex;

        button {
          margin-left: 5px;
          border: none;
          border-radius: 5px;
          background-color: rgb(241, 239, 239);
          font-size: 20px;
          padding: 0;
          width: 25px;
          cursor: pointer;

          :hover {
            background-color: #c2bcbc;
          }
        }
      }
    }
  }
  .colorRect {
    background-color: var(--color);
    width: 20px;
    height: 20px;
    margin-block: 4px;
  }
}
